body {
    background-color: aqua;
}


nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 40px;
}
h1 {
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-picture img {
    margin-top: 400px;

}